<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.foxthemes.net/socialite-v3.0/blog by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Mar 2024 13:26:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="assets/images/favicon.png" rel="icon" type="image/png">

    <!-- title and description-->
    <title>Socialite</title>
    <meta name="description" content="Socialite - Social sharing network HTML Template">
   
    <!-- css files -->
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <link rel="stylesheet" href="assets/css/style.css">  
    
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
 
</head>
<body>
 
    <div id="wrapper">

        <!-- header -->
        
    
        <!-- sidebar -->
        <div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full">

            <!-- sidebar inner -->
            <div class="p-2 max-xl:bg-white shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] relative z-30 max-lg:border-r dark:max-xl:!bg-slate-700 dark:border-slate-700">
        
                <div class="pr-4" data-simplebar>

                    <nav id="side">
                    
                        <ul>
                            <li>
                                <a href="feed">
                                    <img src="assets/images/icons/home.png" alt="feeds" class="w-6">
                                    <span> Feed </span> 
                                </a>
                            </li>
                            <li>
                                <a href="messages">
                                    <img src="assets/images/icons/message.png" alt="messages" class="w-5">
                                    <span> messages </span> 
                                </a>
                            </li> 
                            <li>
                                <a href="video">
                                    <img src="assets/images/icons/video.png" alt="messages" class="w-6">
                                    <span> video </span> 
                                </a>
                            </li>
                            <li>
                                <a href="event">
                                    <img src="assets/images/icons/event.png" alt="messages" class="w-6">
                                    <span> event </span> 
                                </a>
                            </li>
                            <li>
                                <a href="pages">
                                    <img src="assets/images/icons/page.png" alt="pages" class="w-6">
                                    <span> Pages </span> 
                                </a>
                            </li>
                            <li>
                                <a href="groups">
                                    <img src="assets/images/icons/group.png" alt="groups" class="w-6">
                                    <span> Groups </span> 
                                </a>
                            </li>
                            <li>
                                <a href="market">
                                    <img src="assets/images/icons/market.png" alt="market" class="w-7 -ml-1">
                                    <span> market </span> 
                                </a>
                            </li> 
                            <li class="active">
                                <a href="blog">
                                    <img src="assets/images/icons/blog.png" alt="blog" class="w-6">
                                    <span> blog </span> 
                                </a>
                            </li> 
                            <li class="!hidden" id="show__more">
                                <a href="games">
                                    <img src="assets/images/icons/game.png" alt="games" class="w-6">
                                    <span> games </span> 
                                </a>
                            </li>
                            <li class="!hidden" id="show__more">
                                <a href="funding">
                                    <img src="assets/images/icons/fund.png" alt="messages" class="w-6">
                                    <span> Fundraiser  </span> 
                                </a>
                            </li>
                            <li class="!hidden" id="show__more">
                                <a href="blog-2">
                                    <img src="assets/images/icons/blog-2.png" alt="blog" class="w-6">
                                    <span> blog II </span> 
                                </a>
                            </li>
                            <li class="!hidden" id="show__more">
                                <a href="event-2">
                                    <img src="assets/images/icons/event-2.png" alt="event" class="w-6">
                                    <span> Event II </span> 
                                </a>
                            </li>
                            <li class="!hidden" id="show__more">
                                <a href="groups-2">
                                    <img src="assets/images/icons/group-2.png" alt="groups" class="w-6">
                                    <span> Groups II </span> 
                                </a>
                            </li>

                    </ul>
                        
                        <button type="button" class="flex items-center gap-4 py-2 px-4 w-full font-medium text-sm text-black dark:text-white" uk-toggle="target: #show__more; cls: !hidden uk-animation-fade"> 
                            <svg class="bg-gray-200 rounded-full w-6 h-6 dark:bg-slate-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> 
                            <span id="show__more"> See More </span> 
                            <span class="!hidden" id="show__more"> See Less </span> 
                        </button>
        
                    </nav>
        
                    <div class="font-medium text-sm text-black border-t pt-3 mt-2 dark:text-white dark:border-slate-800">
                        <div class="px-3 pb-2 text-sm font-medium"> 
                            <div class="text-black dark:text-white">Shortcut</div> 
                        </div>
                        <a href="#">
                            <div class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-6 rounded-full object-cover">
                                <div> Marin Gray</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery">
                                <img src="assets/images/avatars/avatar-7.jpg" alt="" class="w-6 rounded-full object-cover">
                                <div>   Alexa Stella</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="flex items-center gap-2 p-3 px-4 rounded-xl hover:bg-secondery">
                                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-6 rounded-full object-cover">
                                <div> Sarah Ali</div>
                            </div>
                        </a> 
                    </div>
        
                    <nav id="side" class="font-medium text-sm text-black border-t pt-3 mt-2 dark:text-white dark:border-slate-800">
                        <div class="px-3 pb-2 text-sm font-medium"> 
                            <div class="text-black dark:text-white">Pages</div> 
                        </div>
        
                        <ul class="mt-2 -space-y-2" 
                            uk-nav="multiple: true">
                
                            <li>
                                <a href="setting"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <span> Setting </span>                  
                                </a>
                            </li>
                            <li>
                                <a href="upgrade"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                                    </svg>
                                    <span> Upgrade </span>                  
                                </a>
                            </li>
                            <li>   
                                <a href="form-login"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                                    </svg>
                                    <span>   Authentication   </span>                  
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a href="#" class="group"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                                    </svg>
                                    <span>  Development   </span>   
                                    <ion-icon name="chevron-down" class="text-base ml-auto duration-200 group-aria-expanded:rotate-180"></ion-icon>              
                                </a>
                                <ul class="pl-10 my-1 space-y-0 text-sm">
                                    <li><a href="components" class="!py-2 !rounded -md">Elements</a></li>
                                    <li><a href="components" class="!py-2 !rounded -md">Components</a></li>
                                    <li><a href="components" class="!py-2 !rounded -md">Icons</a></li>
                                </ul>
                            </li>
                        
                        </ul>
        
                    </nav>
                

                    <div class="text-xs font-medium flex flex-wrap gap-2 gap-y-0.5 p-2 mt-2">
                        <a href="#" class="hover:underline">About</a>
                        <a href="#" class="hover:underline">Blog </a>
                        <a href="#" class="hover:underline">Careers</a>
                        <a href="#" class="hover:underline">Support</a>
                        <a href="#" class="hover:underline">Contact Us </a>
                        <a href="#" class="hover:underline">Developer</a>
                    </div>

                </div>

            </div>

            <!-- sidebar overly -->
            <div id="site__sidebar__overly" 
                class="absolute top-0 left-0 z-20 w-screen h-screen xl:hidden backdrop-blur-sm"
                uk-toggle="target: #site__sidebar ; cls :!-translate-x-0"> 
            </div>
        </div>

        <!-- main contents -->
        <main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

            <div class="flex max-lg:flex-col 2xl:gap-12 gap-10 2xl:max-w-[1220px] max-w-[1065px] mx-auto" id="js-oversized">

                <div class="flex-1">
    
                    <div class="page-heading">
                        
                        <h1 class="page-title"> Articles </h1>
    
                        <nav class="nav__underline">
    
                            <ul uk-tab class="group" uk-switcher="connect: #ttabs ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium"> 
                        
                                <li> <a href="#"> Suggestions </a> </li>
                                <li> <a href="#"> Popular </a> </li>
                                <li> <a href="#"> My article </a> </li> 
                                
                            </ul> 
    
                        </nav>
    
                    </div>
                    
                    <!--  feature blog slider -->
                    <div  tabindex="-1" uk-slider="finite:true">
    
                        <div class="uk-slider-container pb-1">
                        
                        <ul class="uk-slider-items grid-small">
                            <li class="sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="blog-read">
                                        <div class="card-media h-32">
                                            <img src="assets/images/blog/img-1.jpg" alt="">
                                            <div class="card-overly"></div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="blog-read"> 
                                            <h4 class="card-title text-sm line-clamp-2"> Top amazing web demos and experiments in 2024 should know about </h4>
                                        </a>
                                        <p class="card-text text-xs mt-1.5"> <a href="#">  Jesse Steeve </a> </p>
                                        <div class="card-list-info mt-1 text-xs">
                                            <div> 10 Jun 2022 </div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>
                                    </div>
                                </div>
                            </li>    
                            <li class="sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="blog-read">
                                        <div class="card-media h-32">
                                            <img src="assets/images/blog/img-2.jpg" alt="">
                                            <div class="card-overly"></div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="blog-read"> 
                                            <h4 class="card-title text-sm line-clamp-2"> Awesome web dev tools and resources for 2024 in 30 minutes  </h4>
                                        </a>
                                        <p class="card-text text-xs mt-1.5"> <a href="#">  John Michael</a> </p>
                                        <div class="card-list-info mt-1 text-xs">
                                            <div> 10 Jun 2022 </div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li class="sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="blog-read">
                                        <div class="card-media h-32">
                                            <img src="assets/images/blog/img-3.jpg" alt="">
                                            <div class="card-overly"></div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="blog-read"> 
                                            <h4 class="card-title text-sm line-clamp-2"> Interesting JavaScript and CSS libraries should Know About </h4>
                                        </a>
                                        <p class="card-text text-xs mt-1.5"> <a href="#">  Monroe Parker </a> </p>
                                        <div class="card-list-info mt-1 text-xs">
                                            <div> 10 Jun 2022 </div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li class="sm:w-1/3 w-1/2">
                                <div class="card">
                                    <a href="blog-read">
                                        <div class="card-media h-32">
                                            <img src="assets/images/blog/img-4.jpg" alt="">
                                            <div class="card-overly"></div>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a href="blog-read"> 
                                            <h4 class="card-title text-sm line-clamp-2">Interesting javaScript and CSS libraries  you should be learn</h4>
                                        </a>
                                        <p class="card-text text-xs mt-1.5"> <a href="#">  Martin Gray </a> </p>
                                        <div class="card-list-info mt-1 text-xs">
                                            <div> 10 Jun 2022 </div>
                                            <div class="md:block hidden">·</div>
                                            <div> 156.9K views</div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            
                        </ul>
                    
                        </div>
                    
                        <!-- slide nav icons -->
                        <a class="nav-prev !top-24" href="#" uk-slider-item="previous"> <ion-icon name="chevron-back" class="text-2xl"></ion-icon> </a>
                        <a class="nav-next !top-24" href="#" uk-slider-item="next"> <ion-icon name="chevron-forward" class="text-2xl"></ion-icon></a>
                        
                    </div> 
    
                    <div class="card mt-8">
                        <div class="card-media md:h-80 h-52">
                            <img src="assets/images/group/group-cover-1.jpg" alt="">
                            <div class="card-overly"></div>
    
                        </div>
                        <div class="card-body p-5 w-full z-10 absolute bg-gradient-to-t bottom-0 from-black/60">
                            <p class="card-text text-white/80"> <a href="#">  Denise Marie </a> </p>
                            <h4 class="card-title text-xl mt-1.5 !text-white"> Exploring an Abandoned Water Park in China </h4>
    
                            <div class="card-list-info font-medium mt-1 text-xs mt-1.5 gap-2.5 text-white">
                                <div class="flex items-center gap-1.5 text-sm"> 27  <ion-icon name="thumbs-up-outline" class="text-base"></ion-icon> </div>
                                <div class="flex items-center gap-1.5 text-sm"> 156.9K  <ion-icon name="chatbox-outline" class="text-base"></ion-icon> </div>
                            </div>
    
                        </div>
                    </div>
    
                    <!-- recomended writters-->
                    <div class="bg-secondery p-6 rounded-md mt-8 shadow dark:bg-dark2">
                        <div class="flex items-center justify-between text-black dark:text-white">
                            <h3 class="text-lg font-semibold"> Recommended Writters for you </h3>
                            <a href="#" class="text-sm text-blue-500 flex items-center gap-2">See all <ion-icon name="arrow-forward-outline"></ion-icon> </a>
                        </div>
    
                        <div class="grid sm:grid-cols-2 gap-3 mt-4">
                            <div class="side-list-item p-4 box dark:bg-white/5">
                                <a href="timeline">
                                    <img src="assets/images/avatars/avatar-5.jpg" alt="" class="rounded-full w-10 h-10">
                                </a>
                                <div class="flex-1">
                                    <a href="timeline"><h4 class="side-list-title"> James Lewis</h4></a>
                                    <div class="side-list-info"> 42 articles </div>
                                </div>
                                <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                                    </svg>
                                </button> 
                            </div>
                            <div class="side-list-item p-4 box dark:bg-white/5">
                                <a href="timeline">
                                    <img src="assets/images/avatars/avatar-4.jpg" alt="" class="rounded-full w-10 h-10">
                                </a>
                                <div class="flex-1">
                                    <a href="timeline"><h4 class="side-list-title">  Martin Gray</h4></a>
                                    <div class="side-list-info"> 25 articles </div>
                                </div>
                                <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                                    </svg>
                                </button> 
                            </div>
                            <div class="side-list-item p-4 box dark:bg-white/5">
                                <a href="timeline">
                                    <img src="assets/images/avatars/avatar-3.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                </a>
                                <div class="flex-1">
                                    <a href="timeline"><h4 class="side-list-title">  Monroe Parker</h4></a>
                                    <div class="side-list-info"> 15 articles </div>
                                </div>
                                <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                                    </svg>
                                </button> 
                            </div>
                            <div class="side-list-item p-4 box dark:bg-white/5">
                                <a href="timeline">
                                    <img src="assets/images/avatars/avatar-7.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                </a>
                                <div class="flex-1">
                                    <a href="timeline"><h4 class="side-list-title"> Jesse Steeve</h4></a>
                                    <div class="side-list-info"> 36 articles </div>
                                </div>
                                <button type="button" class="button-icon bg-primary-soft text-primary dark:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"></path>
                                    </svg>
                                </button> 
                            </div>
                        </div>
                        
    
                    </div>
    
                    <!-- title -->
                    <div class="flex items-center justify-between text-black dark:text-white py-3 mt-8">
                        <h3 class="text-xl font-semibold"> Articles for you </h3>
                        <a href="#" class="text-sm text-blue-500">See all</a>
                    </div>
    
                    <!-- articale list layout -->
                    <div class="box p-5 mt-4">
    
                        <div class="card-list">
                            <a href="blog-read" class="lg:order-1">
                                <div class="card-list-media h-32">
                                    <img src="assets/images/blog/img-2.jpg" alt="">
                                </div>
                            </a>
                            <div class="card-list-body">
                                <a href="blog-read"> <h3 class="card-list-title"> Top amazing web demos and experiments in 2024 should know about </h3> </a>
                                <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                                <a href="#"> <div class="card-list-link"> Jesse Steeve </div> </a>
                                <div class="card-list-info">
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                        45
                                    </div>
                                    <div class="md:block hidden">·</div>
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                        156.9K 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="card-list-divider">
                        <div class="card-list">
                            <a href="blog-read" class="lg:order-1">
                                <div class="card-list-media h-32">
                                    <img src="assets/images/blog/img-3.jpg" alt="">
                                </div>
                            </a>
                            <div class="card-list-body">
                                <a href="blog-read"> <h3 class="card-list-title"> Interesting JavaScript and CSS libraries should Know About </h3> </a>
                                <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                                <a href="#"> <div class="card-list-link"> Monroe Parker </div> </a>
                                <div class="card-list-info">
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                        45
                                    </div>
                                    <div class="md:block hidden">·</div>
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                        156.9K 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="card-list-divider">
                        <div class="card-list">
                            <a href="blog-read" class="lg:order-1">
                                <div class="card-list-media h-32">
                                    <img src="assets/images/blog/img-4.jpg" alt="">
                                </div>
                            </a>
                            <div class="card-list-body">
                                <a href="blog-read"> <h3 class="card-list-title">Interesting javaScript and CSS libraries  you should be learn</h3> </a>
                                <p class="card-list-text"> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                                <a href="#"> <div class="card-list-link"> Martin Gray </div> </a>
                                <div class="card-list-info">
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="heart-outline" class="text-lg"></ion-icon>
                                        45
                                    </div>
                                    <div class="md:block hidden">·</div>
                                    <div class="flex items-center gap-2"> 
                                        <ion-icon name="chatbubble-ellipses-outline" class="text-lg"></ion-icon>
                                        156.9K 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="flex justify-center my-6">
                        <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                    </div>
                
                </div>
    
                <!-- sidebar -->
                <div class="2xl:w-[380px] lg:w-[330px] w-full">
    
                    <div  class="lg:space-y-6 space-y-4 lg:pb-8 max-lg:grid sm:grid-cols-2 max-lg:gap-6" 
                          uk-sticky="media: 1024; end: #js-oversized; offset: 80">
                          
                        <div class="relative uk-visible-toggle" tabindex="-1" uk-slideshow="finite: true ; min-height: 300; max-height: 500">
    
                            <ul class="uk-slideshow-items"> 
                                <li class="w-full overflow-hidden rounded-xl">
                                    <img src="assets/images/blog/img-3.jpg" alt="" class="w-full h-full object-cover">
                                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                        <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                            <a href="timeline"><h4 class="text-sm font-medium !text-white">  Interesting JavaScript and CSS libraries should Know About</h4></a>
                                            <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                                <div> 10 Jun 2022 </div>
                                                <div class="md:block hidden">·</div>
                                                <div> 156.9K views</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="w-full overflow-hidden rounded-md">
                                    <img src="assets/images/blog/img-2.jpg" alt="" class="w-full h-full object-cover">
                                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                        <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                            <a href="timeline"><h4 class="text-sm font-medium !text-white"> Awesome web dev tools and resources for 2024 in 30 minutes </h4></a>
                                            <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                                <div> 10 Jun 2022 </div>
                                                <div class="md:block hidden">·</div>
                                                <div> 156.9K views</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="w-full overflow-hidden rounded-md">
                                    <img src="assets/images/blog/img-4.jpg" alt="" class="w-full h-full object-cover">
                                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small">
                                        <div class="bg-black/10 p-4 m-2 rounded-md backdrop-blur-lg mb-8">
                                            <a href="timeline"><h4 class="text-sm font-medium !text-white"> Interesting javaScript and CSS libraries  you should be learn</h4></a>
                                            <div class="text-xs text-white/80 mt-2 flex items-center gap-2">
                                                <div> 10 Jun 2022 </div>
                                                <div class="md:block hidden">·</div>
                                                <div> 156.9K views</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <!-- slide nav -->
                            <div class="flex justify-center">
                                <ul class="inline-flex flex-wrap justify-center  absolute bottom-3 gap-1.5 uk-dotnav uk-slideshow-nav"> </ul>
                            </div>
    
                            <!-- slide nav icons -->
                            <a class="nav-prev" href="#" uk-slideshow-item="previous"> <ion-icon name="chevron-back" class="text-2xl"></ion-icon> </a>
                            <a class="nav-next" href="#" uk-slideshow-item="next"> <ion-icon name="chevron-forward" class="text-2xl"></ion-icon></a>
     
                        </div>
    
                        <div class="box p-5 px-6">
                            
                            <div class="flex items-baseline justify-between text-black dark:text-white">
                                <h3 class="font-bold text-base"> Trending Articles</h3>
                                <a href="#" class="text-sm text-blue-500">See all</a>
                            </div>
    
                            <div class="mt-4 space-y-4">
    
                                <div>
                                    <a href="blog-read"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">Interesting javaScript and CSS libraries  you should be learn</h4></a>
                                    <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                                <div>
                                    <a href="blog-read"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80"> Interesting javaScript and CSS libraries  you should be learn</h4></a>
                                    <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                                <div>
                                    <a href="blog-read"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">  Interesting JavaScript and CSS libraries should Know About</h4></a>
                                    <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                                <div>
                                    <a href="blog-read"><h4 class="text-sm font-normal text-black dark:text-white duration-200 hover:opacity-80">Top amazing web demos and experiments should know about</h4></a>
                                    <div class="text-xs text-gray-400 mt-2 flex items-center gap-2">
                                        <div> 10 Jun 2022 </div>
                                        <div class="md:block hidden">·</div>
                                        <div> 156.9K views</div>
                                    </div>
                                </div>
                            </div>
                        
    
                        </div>
      
                        <!-- peaple you might know -->
                        <div class="box p-5 px-6 border1 dark:bg-dark2">
                                        
                            <div class="flex justify-between text-black dark:text-white">
                                <h3 class="font-bold text-base"> Peaple You might know </h3>
                                <button type="button"> <ion-icon name="sync-outline" class="text-xl"></ion-icon> </button>
                            </div>

                            <div class="space-y-4 capitalize text-xs font-normal mt-5 mb-2 text-gray-500 dark:text-white/80">

                                <div class="flex items-center gap-3">
                                    <a href="timeline">
                                        <img src="assets/images/avatars/avatar-7.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline"><h4 class="font-semibold text-sm text-black dark:text-white">  Johnson smith</h4></a>
                                        <div class="mt-0.5"> Suggested For You </div>
                                    </div>
                                    <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                                </div>
                                <div class="flex items-center gap-3">
                                    <a href="timeline">
                                        <img src="assets/images/avatars/avatar-5.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline"><h4 class="font-semibold text-sm text-black dark:text-white"> James Lewis</h4></a>
                                        <div class="mt-0.5"> Followed by Johnson </div>
                                    </div>
                                    <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                                </div>
                                <div class="flex items-center gap-3">
                                    <a href="timeline">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline"><h4 class="font-semibold text-sm text-black dark:text-white"> John Michael</h4></a>
                                        <div class="mt-0.5"> Followed by Monroe  </div>
                                    </div>
                                    <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                                </div>
                                <div class="flex items-center gap-3">
                                    <a href="timeline">
                                        <img src="assets/images/avatars/avatar-3.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline"><h4 class="font-semibold text-sm text-black dark:text-white">  Monroe Parker</h4></a>
                                        <div class="mt-0.5"> Suggested For You </div>
                                    </div>
                                    <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                                </div> 
                                <div class="flex items-center gap-3">
                                    <a href="timeline">
                                        <img src="assets/images/avatars/avatar-4.jpg" alt="" class="bg-gray-200 rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline"><h4 class="font-semibold text-sm text-black dark:text-white">  Martin Gray</h4></a>
                                        <div class="mt-0.5"> Suggested For You </div>
                                    </div>
                                    <button type="button" class="text-sm rounded-full py-1.5 px-4 font-semibold bg-secondery"> Follow </button>
                                </div>
                            </div>

                        </div>
                        
                    </div>
    
                </div>
    
            </div>
            
        </main>

    </div>


    <!-- open chat box -->
    <div>
        <button type="button" class="sm:m-10 m-5 px-4 py-2.5 rounded-2xl bg-gradient-to-tr from-blue-500 to-blue-700 text-white shadow fixed bottom-0 right-0 group flex items-center gap-2">
            
            <svg class="w-6 h-6 group-aria-expanded:hidden duration-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
            </svg>
    
            <div class="text-base font-semibold max-sm:hidden"> Chat </div>
    
            <svg class="w-6 h-6 -mr-1 hidden group-aria-expanded:block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>
              
        </button>
        <div  class="bg-white rounded-xl drop-shadow-xl  sm:w-80 w-screen border-t dark:bg-dark3 dark:border-slate-600" id="chat__box"
              uk-drop="offset:10;pos: bottom-right; animate-out: true; animation: uk-animation-scale-up uk-transform-origin-bottom-right; mode: click">
                                              
              <div class="relative">
                <div class="p-5">
                    <h1 class="text-lg font-bold text-black"> Chats </h1>
                </div>
        
                <!-- search input defaul is hidden -->
                <div class="bg-white p-3 absolute w-full top-11 border-b flex gap-2 hidden dark:border-slate-600 dark:bg-slate-700 z-10" 
                     uk-scrollspy="cls:uk-animation-slide-bottom-small ; repeat: true; duration:0" id="search__chat">
                    
                    <div class="relative w-full">
                        <input type="text" class="w-full rounded-3xl dark:!bg-white/10" placeholder="Search">
    
                        <button type="button" class="absolute  right-0  rounded-full shrink-0 px-2 -translate-y-1/2 top-1/2" 
                                uk-toggle="target: #search__chat ; cls: hidden">
                            
                                <ion-icon name="close-outline" class="text-xl flex"></ion-icon>
                        </button>
                    </div>
    
                </div>
                
                <!-- button actions -->
                <div class="absolute top-0 -right-1 m-5 flex gap-2 text-xl">
                    <button uk-toggle="target: #search__chat ; cls: hidden">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                    <button uk-toggle="target: #chat__box ; cls: uk-open">
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                
                <!-- tabs -->
                <div class="page-heading bg-slat e-50 ">
                     
                    <nav class="nav__underline -mt-7 px-5">
        
                        <ul class="group" uk-switcher="connect: #chat__tabs ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium"> 
                       
                            <li> <a href="#" class="inline-block py-[18px] border-b-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> Friends  </a> </li>
                            <li> <a href="#"> Groups </a> </li>
                            
                        </ul> 
        
                    </nav>
        
                </div>
                  
                <!-- tab 2 optional -->
                <div class="grid grid-cols-2 px-3 py-2 bg-slate-50  -mt-12 relative z-10 text-sm border-b  hidden" uk-switcher="connect: #chat__tabs; toggle: * > button ; animation: uk-animation-slide-right uk-animation-slide-top">
                    <button class="bg-white shadow rounded-md py-1.5"> Friends </button>
                    <button> Groups </button>
                </div>
    
                <!-- chat list -->
                <div class="uk-switcher overflow-hidden rounded-xl -mt-8" id="chat__tabs">
    
                    <!-- tab list 1 -->
                    <div class="space-y -m t-5 p-3 text-sm font-medium h-[280px] overflow-y-auto">
        
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-1.jpg" alt="" class="w-7 rounded-full">
                                <div> Jesse Steeve </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-7 rounded-full">
                                <div> John Michael </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-7 rounded-full">
                                <div> Monroe Parker </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="w-7 rounded-full">
                                <div> James Lewis </div>
                            </div>
                        </a> 
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-7 rounded-full">
                                <div> Martin Gray </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="w-7 rounded-full">
                                <div> Alexa stella </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-1.jpg" alt="" class="w-7 rounded-full">
                                <div> Jesse Steeve </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-7 rounded-full">
                                <div> John Michael </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-7 rounded-full">
                                <div> Monroe Parker </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="w-7 rounded-full">
                                <div> James Lewis </div>
                            </div>
                        </a>
                        
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-7 rounded-full">
                                <div> Martin Gray </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="w-7 rounded-full">
                                <div> Alexa stella </div>
                            </div>
                        </a>
                        
                         
                    </div>
        
                    <!-- tab list 2 -->
                    <div class="space-y -m t-5 p-3 text-sm font-medium h-[280px] overflow-y-auto">
        
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-1.jpg" alt="" class="w-7 rounded-full">
                                <div> Jesse Steeve </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-7 rounded-full">
                                <div> John Michael </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-7 rounded-full">
                                <div> Monroe Parker </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="w-7 rounded-full">
                                <div> James Lewis </div>
                            </div>
                        </a> 
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-7 rounded-full">
                                <div> Martin Gray </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="w-7 rounded-full">
                                <div> Alexa stella </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-1.jpg" alt="" class="w-7 rounded-full">
                                <div> Jesse Steeve </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-7 rounded-full">
                                <div> John Michael </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-7 rounded-full">
                                <div> Monroe Parker </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="w-7 rounded-full">
                                <div> James Lewis </div>
                            </div>
                        </a>
                        
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-7 rounded-full">
                                <div> Martin Gray </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex items-center gap-3.5 rounded-lg p-2 hover:bg-secondery dark:hover:bg-white/10">
                                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="w-7 rounded-full">
                                <div> Alexa stella </div>
                            </div>
                        </a>
                        
                         
                    </div>
                    
                </div>
    
    
              </div>
              
              <div class="w-3.5 h-3.5 absolute -bottom-2 right-5 bg-white rotate-45 dark:bg-dark3"></div>
        </div>
    </div>


    <!-- Javascript  -->
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/simplebar.js"></script>
    <script src="assets/js/script.js"></script>
 
 
    <!-- Ion icon -->
    <script type="module" src="../../unpkg.com/ionicons%405.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="../../unpkg.com/ionicons%405.5.2/dist/ionicons/ionicons.js"></script>
 

</body>

<!-- Mirrored from demo.foxthemes.net/socialite-v3.0/blog by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Mar 2024 13:26:04 GMT -->
</html>