<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head'); %>
<body>
   <div id="wrapper">
    <%- include('./Partials/header'); %>
    <%- include('./Partials/sidebar'); %>
    <main>
    <% block mainContent %>
        <!-- Nội dung mặc định cho main -->
        
    <% endblock %>
    </main>
   </div>
   <%- include('./Partials/chat_bot'); %>
   <% block otherContent %>
   <!-- Nội dung mặc định cho main -->
   
<% endblock %>
</body>
</html>